* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/************ Tipos de fuentes ***************/
@font-face {
    font-family: "octin";
    src: url(../font/Octin\ College\ Bold.ttf);
}

@font-face {
    font-family: "rg";
    src: url(../font/octin\ college\ rg.otf);
}

@font-face {
    font-family: "sans";
    src: url(../font/OpenSans-Medium.ttf);
}

/************ Titulo ***************/
span {
    color: azure;
    font-family: "octin";
    font-size: 100px;
    display: flex;
    justify-content: center;
    background-image: url(../img/Fondo.png);
    background-size: cover;
    padding: 100px 200px 200px 200px;
    margin-top: 0;
    margin-bottom: 80px;
    border: solid 7px black;

}

/*********** Subtitulo *************/
h2 {
    font-family: "rg";
    color: rgb(9, 53, 9);
    font-size: 35px;
    text-align: center;
}

/******* Cambio de font *************/
body {
    background-color: beige;
    font-family: "sans";
}

/******* Parrafos **********/
p {
    font-size: 25px;
    background-color: chocolate;
}

/* ******** Overflow ***********
.overflow {
    height: 300px;
    width: 1890px;
    overflow: scroll;
    background-color: chocolate;
} */

/* ****************Menu******************* */

.navegador {
    display: flex;
    width: 100%;
    height: 80px;
    border: solid 1px black;
    align-items: center;
    justify-content: space-around;
    background-color: green;
}

.navegador ul {

    display: flex;
    gap: 40px;

}

li {

    list-style: none;
    font-family: "octin";
    font-size: 20px;


}

ul {
    text-decoration: none;
}

.menu__item a {
    text-decoration: none;
    color: rgb(3, 33, 4);
}

li:hover {
    background-color: rgb(247, 166, 14);
}

/* **************Tabla**************** */
.tabla {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


/*********** Position Fixed Facebook **************/
.facebook {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
}

/********* Grid Galería *******/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

/************* Contenedor de la grid *********/
.grid_gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 20px;
    padding-top: 120px;
}

.grid_gallery .img-box img {
    border-radius: 10px;
    opacity: 0.7;
}

/* *************Animaciones***************** */
.grid_gallery .img-box img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/****** Mapa ******/
.iframe {
    display: flex;
    justify-content: center;
}

/********** Aplicando Tablet Media Queris *****************/


@media screen and (max-width:768px) {
    .grid_gallery {
        grid-template-columns: repeat(2, 1fr);

    }


    .menu {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        gap: 80px;
    }

    .navegador {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: auto;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }

    .imagen {
        width: 95%;
        height: 95%;
    }
}

/************** Aplicando Media Queris en Mobile *****************/

@media screen and (max-width:480px) {
    .grid_gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    span {
        font-size: 70px;
    }

    .menu {
        background-color: transparent;
        gap: 70px;
    }

    .imagen {
        width: 90%;
        height: 90%;
    }

}