* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/************* Tipos de fuentes ***************/
@font-face {
    font-family: "octin";
    src: url(../font/Octin\ College\ Bold.ttf);
}

@font-face {
    font-family: "rg";
    src: url(../font/octin\ college\ rg.otf);
}

@font-face {
    font-family: "sans";
    src: url(../font/OpenSans-Medium.ttf);
}

/*****************Menu********************/
.navbar-nav {
    gap: 10px;
    padding-right: 50px;
    padding-top: 50px;
    }


.nav-link {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(1, 1, 2);
} 


.navbar {
    font-size: 35px;
    font-family: "octin";
    }

.nav-link:hover {
    color: green;
    transition: all 1s ease 0s;
}

.header{
    position: absolute;
    z-index: 10;
    width: 100%;
} 

/**************** Footer ***************/
.footerbs{
    background-color: rgb(20, 20, 82);
}


/**************Media Queris *********************/
@media only screen and (max-width: 1200px) {
    .navbar{
        font-size: 25px;
    }
}
/********************* Fondo ***********************/

.main {
    position: relative;
    background: url(../img/Fondo.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    margin-bottom: 100px;
    border-radius: 30px;
    }
/***************** Título *******************/
    h1{
        font-size: 50px;
        text-align: center;
        font-family: "octin";
        color: white;
        text-shadow: 2px 2px rgb(1, 1, 2);
        padding-bottom: 50px;
    }
/*********** Subtitulo *************/
h2 {
    font-family: "rg";
    color: rgb(9, 53, 9);
    font-size: 35px;
    text-align: center;
}

/*********** Cambio de font *************/
body {

    background-color: beige;
    font-family: "sans";
}
.acordeon{
    font-family: "rg";
}

/************** Párrafos ***************/
.titulofooter {
    font-family: "octin";
    color: rgb(75, 185, 24);
}

.h9{
    font-size: small;
}

.titulo2footer{
    font-weight: bold;
}


/*********** Position Fixed Facebook **************/
.facebook {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
}

/****************** Grid Galería ***************/
.grida{
    border-radius: 20px;
    opacity: 0.7;
}
.grida:hover{
    transform: scale(1.1);
    opacity: 1;
}

.gridimg{
    border-radius: 10px;
}
/***************** Animaciones *****************/


/************** Mapa ******************/
.iframe {
    display: flex;
    justify-content: center;
}