* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@import "fonts";

body{
    background-color: beige;
    font-family: $fonth4;
    
}

h1{
    font-family: $fonth1;
    color: rgb(5, 76, 5);
}

h2{
    font-family: $fonth2;
}

h4{
    font-family: $fonth4;
}
.navbar{
    font-size: 35px;
    font-family: $fonth1;
    position: absolute;
    z-index: 10;
    width: 100%;
    
.navbar-nav {
        gap: 10px;
        padding-right: 50px;
        padding-top: 50px;

        .nav-link {
            color: rgb(255, 255, 255);
            text-shadow: 2px 2px rgb(1, 1, 2);
        } 
        .nav-link:hover {
            color: green;
            transition: all 1s ease 0s;
        }
        }
    }
.header{
        position: absolute;
        z-index: 10;
        width: 100%;
    } 

.footerbs{
        background-color: rgb(20, 20, 82);
    }




/********************* Fondo ***********************/

.main {
    position: relative;
    background: url(../img/Fondo.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    margin-bottom: 100px;
    border-radius: 30px;
    }

/**************Media Queris *********************/
@media only screen and (max-width: 1200px) {
    .navbar{
        font-size: 25px;
    }
}