@import 'footer';
@import "fonts";
@import 'navbar';

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

// Estilo General

body{
    background-color: beige;
    font-family: $fonth4;
    
}

// Estilo de texto

h1{
        font-family: $fonth1;
        font-size: 50px;
    text-align: center;
    color: rgb(6, 128, 30);
        text-shadow: 2px 2px rgb(1, 1, 2);
        padding-bottom: 50px;
}

h2{
    font-family: $fonth2;
    color: rgb(9, 53, 9);
    font-size: 35px;
    text-align: center;
}

h4{
    font-family: $fonth4;
}

h5{
    font-family: $fonth2;
    text-align: center;
}

.cardtext{
    font-size: small;
    text-align: center;
}

.text{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(1, 1, 2);
    font-size: 20px;
    padding-left: 20px;
}

// Seccion Nosotros

.containernos {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.nosimg{
    border-radius: 10px;
}

/********************* Fondo ***********************/

.main {
    position: relative;
    background: url(../img/Fondo.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    margin-bottom: 100px;
    }


// Banner Separador

    .custom-shape-divider-bottom-1663027264 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1663027264 svg {
        position: relative;
        display: block;
        width: calc(114% + 1.3px);
        height: 61px;
    }
    
    .custom-shape-divider-bottom-1663027264 .shape-fill {
        fill: beige;
    }

// Carrusel

    .carousel-inner{
        border-radius: 20px;
    }

    // Grid

    .grida{
        border-radius: 20px;
        opacity: 0.7;
    }
    .grida:hover{
        transform: scale(1.1);
        opacity: 1;
        transition: all 1.5s ease 0s;
    }
    
    .gridimg{
        border-radius: 10px;
    }

/************** Mapa ******************/
.iframe {
    display: flex;
    justify-content: center;
}

.mapa{
    margin-top: 100px;
    padding: 10px;
}

.localizacionimg{
    border-radius: 10px;
}



/**************Media Queris *********************/
@media only screen and (max-width: 1200px) {
    .navbar{
        font-size: 25px;
    }
}